<template>
    <div class="main">
        <div
            class="bannerModel"
            ref="bannerModel"
        >
            <el-carousel
                :interval="3000"
                :height="bannerHeight+'px'"
            >
                <el-carousel-item
                    v-for="(item,index) in bannerList"
                    :key="index"
                >
                    
                    <div class="bannerItem">
                        <img
                            :src="item.pic"
                            alt=""
                        />
                        <span class="title">
                            {{ item.typeTitle }}
                        </span>
                    </div>
                </el-carousel-item>
            </el-carousel>

        </div>
    </div>
</template>
<script>
export default {
    name:'BannerModel',
    props:{
        bannerList:{
            type:Array,
            default:()=>[]
        }
    },
    data(){
        return {
            bannerHeight:200
        }
    },
    mounted(){
        this.getBannerHeight()
    },
    methods:{
        getBannerHeight(){
            // let bannerHeight = 200
            this.$nextTick(()=>{
                this.bannerHeight = this.$refs.bannerModel.offsetWidth/(1080/420)
            })

        }
    }
}
</script>

<style lang="scss" scoped>

.bannerItem {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    .title {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 12px;
        background-color: #fff;
        border-radius: 2px;
        padding:0 3px;
        transform: scale(.8);
        transform-origin: center center;
    }
}
/deep/.el-carousel__indicators{
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: translateX(0);

    li {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        margin-right: 4px;
        padding: 0;

        &.is-active{
            width: 6px;
            height: 6px;
            .el-carousel__button{
                width: 6px;
            height: 6px;
                background-color: red;
            }
        }
    }
    .el-carousel__button {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        margin-right: 4px;
        padding: 0;
    }
}
</style>
