<template>
    <div class="mains">
        <div class="songSheet">
            <h3>推荐歌单 <i class="el-icon-arrow-right"></i></h3>
            <div class="sheetModel">
                <van-swipe
                    :loop="false"
                    :width="90"
                    :show-indicators="false"
                >
                    <van-swipe-item
                        v-for="item in songSheetList"
                        :key="item.id"
                    >
                        <img
                            :src="item.uiElement.image.imageUrl"
                            alt=""
                        />
                        <p class="ellipsis2">
                            {{ item.uiElement.mainTitle.title }}
                        </p>
                        <span class="playCount">
                            <i class="el-icon-caret-right"></i>
                            {{ item.resources[0].resourceExtInfo.playCount | playCount }}
                        </span>
                    </van-swipe-item>
                </van-swipe>
            </div>
        </div>
    </div>
</template>

<script>
import { numberFormat } from "@/assets/js";
export default{
    name:'SongSheet',
    props:{
        songSheetList:{
            type:Array,
            default:()=>[]
        }
    },
    filters:{
        playCount(val){
            const playCounts = numberFormat(val)
            return playCounts
        }
    }
}
</script>

<style lang="scss" scoped>
.mains {
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .1);
    .songSheet {
        padding: 5px;
        h3 {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .sheetModel {
                .van-swipe-item {
                    overflow: hidden;
                    img{
                        width: 80px;
                        height: 80px;
                        display: block;
                        border-radius: 6px;
                    }
                    p {
                        font-size: 12px;
                        padding-top: 5px;
                        transform: scale(.9);
                        transform-origin: left top;
                    }

                    .playCount {
                        position: absolute;
                        top: 5px;
                        right: 15px;
                        color: #fff;
                        font-size: 12px;
                        transform: scale(.5);
                        transform-origin: right top;
                        background-color: rgba(#000,.3);
                        border-radius: 50px;
                        padding: 1px 3px;
                        font-weight: bold;
                    }
                }
            
        }
    }
}

</style>