<template>
    <div class="mains">
        <div class="songSheet">
            <h3>推荐歌单 <i class="el-icon-arrow-right"></i></h3>
            <div class="sheetModel">
                <van-swipe
                    :loop="false"
                    :show-indicators="false"
                    :width="300"
                >
                    <van-swipe-item
                        v-for="item in songList"
                        :key="item.id"
                    >
                        <div
                            class="item"
                            v-for="(v,k) in item.resources"
                            :key="k"
                        >
                            <img
                                :src="v.uiElement.image.imageUrl"
                                alt=""
                            />
                            <div class="info">
                                <h3 class="ellipsis">
                                    {{ v.uiElement.mainTitle.title }}
                                </h3>
                                <p class="ellipsis">
                                    <span v-if="v.uiElement.subTitle.title">
                                        {{ v.uiElement.subTitle.title }}
                                    </span>
                                    <span v-if="v.uiElement.subTitle.title&&v.resourceExtInfo.artists&&v.resourceExtInfo.artists.length">
                                        -
                                    </span>
                                    <span v-if="v.resourceExtInfo.artists&&v.resourceExtInfo.artists.length">
                                        {{ v.resourceExtInfo.artists.map(value=>value.name).join('/') }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </van-swipe-item>
                </van-swipe>
            </div>
        </div>
    </div>
</template>

<script>
import { numberFormat } from "@/assets/js";
export default{
    name:'SongModel',
    props:{
        songList:{
            type:Array,
            default:()=>[]
        }
    },
    filters:{
        playCount(val){
            const playCounts = numberFormat(val)
            return playCounts
        }
    }
}
</script>

<style lang="scss" scoped>
.mains {
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .1);
    .songSheet {
        padding: 5px;
        h3 {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .sheetModel {
                .van-swipe-item {
                    overflow: hidden;
                    .item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                        img{
                            width: 80px;
                            height: 80px;
                            display: block;
                            border-radius: 6px;
                            margin-right: 10px;
                        }

                        .info {
                            width: calc(100% - 90px);
                            h3{
                                font-size: 14px;
                            }
                            p{
                                font-size: 12px;
                                color: #666;
                            }
                        }
                    }
                }
            
        }
    }
}

</style>