<template>
    <div class="mains">
        <div class="searchModel">
            <i
                class="el-icon-back"
                @click="searchResult=[]"
            ></i>
            <el-input
                type="text"
                v-model="keywords"
            >
                <el-button
                    slot="append"
                    icon="el-icon-search"
                    @click="cloudsearch"
                />
            </el-input>
        </div>
        <div style="height: 52px;"></div>
        <HotSearch
            v-if="!searchResult.length"
            :hot-search-list="hotSearchList"
            @cloudsearch="cloudsearch"
        />
        <SongsModel
            v-if="searchResult.length"
            :search-result="searchResult"
        />
    </div>
</template>
<script>
import { hotSearchDetail,defaultSearchKeys,cloudsearch } from "./api";
import { HotSearch,SongsModel } from "./Modules";
export default{
    name:'SearchModel',
    components:{
        HotSearch,
        SongsModel
    },
    data(){
        return {
            keywords:'',
            hotSearchList:[],
            searchResult:[]
        }
    },
    watch:{

    },
    mounted(){
        this.defaultSearchKeys()
        this.hotSearchDetail()
    },  
    methods:{
        hotSearchDetail(){
            hotSearchDetail().then(res=>{
                if(res.code==200){
                    this.hotSearchList = res.data
                }
            })
        },
        defaultSearchKeys(){
            defaultSearchKeys().then(res=>{
                if(res.code==200){
                    this.keywords = res.data.showKeyword
                }
            })
        },
        cloudsearch(data){
            let params = {
                keywords:data?.keywords|| this.keywords,
            }
            if(data?.keywords){
                this.keywords = data?.keywords
            }
            cloudsearch(params).then(res=>{
                if(res.code==200){
                    this.searchResult = res.result.songs
                }
            })
        },

    }
}
</script>

<style lang="scss" scoped>
.mains {
    background-color: transparent;
    position: relative;
    .searchModel {
        padding: 10px 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #9a1515;
        box-sizing: border-box;
        /deep/.el-input {
            width: calc(100% - 30px);
            height: 32px;
            overflow: hidden;
            .el-input__inner {
                height: 32px;
                border-radius: 20px 0 0 20px;
            }
            .el-input-group__append {
                border-radius: 0 20px 20px 0;
            }
        }
        i {
            font-size: 20px;
            color: #fff;
        }
    }
}

</style>
