*
    padding: 0
    margin: 0
    touch-action: none
body
    background-color: #f2f2f2
.main
    width: calc( 100% - 10px )
    padding: 5px 0
    margin: 0 auto
    box-sizing: border-box
.mains
    width: calc( 100% - 10px )
    margin: 0 auto
    background-color: #fff

.ellipsis
    //超出一行省略号
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.ellipsis2
    display: -webkit-box //将对象作为弹性伸缩盒子模型显示。
    -webkit-box-orient: vertical //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
    -webkit-line-clamp: 2 //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。所以,最后的结果:
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
