<template>
    <div
        class="audioModel"
        v-if="audioShow"
    >
        <audio
            ref="audioModel"
            @timeupdate="updateTime"
            @durationchange="shichang"
            :src="songInfo.url"
            hidden="hidden"
        >
        </audio>
        <div class="picUrl">
            <img
                v-if="songInfo.picUrl"
                :src="songInfo.picUrl"
                alt=""
            />
            <i
                v-else
                class="el-icon-loading"
            ></i>
        </div>
        <div class="songInfo">
            <p class="ellipsis">
                {{ songInfo.name || '歌名：' }}
                <span v-if="songInfo.alia&&songInfo.alia.length>0">
                    ({{ songInfo.alia[0] }})
                </span>
                <b v-if="songInfo.ar&&songInfo.ar.length>0">
                    - {{ songInfo.ar[0].name }}
                </b>
            </p>
            <p class="lyric ellipsis">
                歌词：{{ timeStamplyric ||'' }}
            </p>
            <div class="progress">
                <!-- <span
                    class="songTime"
                >
                    {{ s_to_hs(progress) }}
                </span> -->
                <el-slider
                    v-model="progress"
                    class="tooltipModel"
                    :min="0"
                    :max="songTime"
                    :format-tooltip="s_to_hs"
                    :show-tooltip="false"
                    @change="songDuration"
                />
                <span
                    class="songTime"
                >
                    {{ s_to_hs(songTime) }}
                </span>
            </div>
            
        </div>
        <div class="playStop">
            <i
                class="el-icon-video-pause"
                v-if="playStatus"
                @click="stop"
            ></i>
            <i
                class="el-icon-video-play"
                v-else
                @click="play"
            ></i>
            
        </div>
    </div>
</template>

<script>
import { mapMutations,mapGetters } from "vuex";
import { getSongUrls ,getSongInfo,getSongLyric} from "./api";
export default {
    name: 'AudioModel',
    data(){
        return {
            timeStamp:0,
            songTime:0,
            playNum:0,
            songInfo:{},
            playStatus:0,
            progress:0,
            lyricList:[],
            timeStamplyric:''
            
        };
    }, 
    computed:{
        ...mapGetters(['audioShow','audioList'])
    }, 
    watch: {
        ...mapMutations({
            SET_AUDIOSHOW:'audio/SET_AUDIOSHOW',
        }),
        audioList:{
            handler:function(item){
                if(item){
                    this.getSongUrls(item)
                }else{
                    this.SET_AUDIOSHOW(false)
                }
            },
            deep:true
        }
    },
    mounted(){
    },
    methods:{
        ...mapMutations({
            SET_AUDIOSHOW:'audio/SET_AUDIOSHOW'
        }),
        play(){
            this.playStatus = 1
            this.$refs.audioModel.play();
        },
        stop(){
            this.playStatus = 0
            this.$refs.audioModel.pause();
        },
        updateTime(e){
            let timeStamp = parseInt(e.target.currentTime)
            let songTime = parseInt(e.target.duration)
            this.progress = songTime<=timeStamp?songTime:timeStamp
            if(songTime<=timeStamp){
                this.stop()
            }else{
                let lyric =  this.lyricList.filter(item=>{
                    return item.time<this.s_to_hs(e.target.currentTime)
                })
                if(lyric.length){
                    this.timeStamplyric = lyric[lyric.length-1].content
                }
            }
            
        },
        shichang(e){
            this.timeStamp = this.s_to_hs(parseInt(e.target.duration))
            this.songTime = parseInt(e.target.duration)
        },
        songDuration(duration){
            this.stop()
            this.$refs.audioModel.currentTime = duration
            this.play()
        },
        // 秒数转换分+秒
        s_to_hs(s){
            var h;
            h = Math.floor(s / 60);
            s = s % 60;
            h += '';
            s += '';
            h = (h.length == 1) ? '0' + h : h;
            s = (s.length == 1) ? '0' + s : s;
            if (isNaN(h)) {
                return "&infin;"
            }
            return h + ':' + s;
        },
        getSongUrls(id){
            let params = {
                id:id,
                level:'exhigh'
            }
            getSongUrls(params).then(res=>{
                if(res.code==200){
                    this.getSongInfo(id,res.data[0])
                }
            })
        },
        getSongInfo(id,url){
            let params = {ids:String(id)}
            getSongInfo(params).then(res=>{
                if(res.code==200){
                    const songDetil = res.songs[0]
                    this.songInfo = {
                        url:url.url,
                        id:url.id,
                        name:songDetil.name,
                        ar:songDetil.ar,//歌手列表
                        alia:songDetil.alia,//[] 别名  副标题(展示第一个)
                        picUrl:songDetil.al.picUrl,
                        fee:songDetil.fee,//0: 免费或无版权 1:VIP歌曲 4: 购买专辑 8:非会员可免费播放低音质，会员可播放高音质及下载
                        originCoverType:songDetil.originCoverType, //0: 未知 1: 原曲 2: 翻唱
                        mv:songDetil.mv,// 非零表示有MV ID
                    }
                    this.SET_AUDIOSHOW(true)
                    this.getSongLyric(url)
                }
            })
        },
        getSongLyric(data){
            let params = {id:data.id}
            getSongLyric(params).then(res=>{
                if(res.code==200){
                    const lyric = res.lrc.lyric
                    const lyricArr = lyric.split('\n')
                    lyricArr.forEach(item=>{
                        this.lyricList.push({
                            time:item.split(']')[0].split('[')[1],
                            content:item.split(']')[1]
                        })
                    })
                    this.play()
                }
            })
        }

    }
};
</script>

<style lang="scss" scoped>
.audioModel{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .1);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .picUrl {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .1);
        text-align: center;
        img {
            width:100%;
            height: 100%;
            object-fit: cover;//重要
            display: block;
        }
        i {
           font-size: 24px; 
           line-height: 50px;
        }
    }
    
    .songInfo {
        width: calc(100% - 100px);
        height: 50px;

        p {
            font-size: 14px;
            color: #333;
            b {
                color: #666;
                font-weight: 400;
            }
        }

        .lyric {
            font-size: 12px;
            color: #666;
        }
    }
    .progress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;

        .el-slider {
            width: calc(100% - 40px);

            .tooltipBtn {
                width: 5px;
                height: 5px;
            }
            /deep/.el-slider__button{
                width: 6px;
                height: 6px;
                border: none;
                background-color: #409EFF;
            }
        }
        .songTime {
            text-align: left;
            font-size: 12px;
            color: #666;
        }
    }
    .playStop {
        text-align: center;
        font-size: 24px;
    }
}
</style>