<template>
    <div class="homeModel">
        <!-- 首页置顶搜索框模块 -->
        <template>
            <AudioSearch />
        </template>
        <!-- 首页banner模块 -->
        <template>
            <BannerModel :banner-list="bannerList" />
        </template>
        <!-- 首页推荐歌单模块 -->
        <template>
            <SongSheet :song-sheet-list="songSheetList" />
        </template>
        <!-- 首页推荐歌曲模块 -->
        <template>
            <SongModel :song-list="songList" />
        </template>
        
    </div>
</template>

<script>
import  AudioSearch  from "@/components/AudioSearch";
import { BannerModel,SongSheet,SongModel } from "./modules";
import { mapMutations  } from "vuex";
import { getindexData ,getSongSheet} from "./api";
export default {
    name:'HomeModel',
    components:{
        AudioSearch,
        BannerModel,
        SongSheet,
        SongModel
    },
    computed:{
    },
    data(){
        return {
            bannerList:[],
            songSheetList:[],
            songList:[],
        }
    },
    mounted(){
        this.getindexData()
        // this.getSongSheet()
    },
    methods:{
        ...mapMutations({
            SET_AUDIOSHOW:'audio/SET_AUDIOSHOW',
            SET_AUDIOLIST:'audio/SET_AUDIOLIST'
        }),
        getindexData(){
            getindexData().then(res=>{
                if(res.code==200){
                    this.bannerList = res.data.blocks[0].extInfo.banners
                    this.songSheetList = res.data.blocks[1].creatives
                    this.songList = res.data.blocks[5].creatives
                }
            })
        },
        getSongSheet(){
            let params = {
                limit:10
            }
            getSongSheet(params).then(res=>{
                if(res.code==200){
                    this.songSheetList = res.result
                }
            })
        }
    }
};
</script>

<style lang="scss" scoped>
.aaa{
display: block;
}
</style>