<template>
    <div class="HotSearch">
        <h3>热搜榜</h3>
        <div class="itemModel">
            <div
                class="item"
                v-for="(item,index) in hotSearchList"
                :key="item.index"
                @click="cloudsearch(item.searchWord)"
            >
                <span>{{ index+1 }}</span>
                {{ item.searchWord }} 
                <img
                    v-if="item.iconUrl"
                    :src="item.iconUrl"
                    alt=""
                />
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name:'HotSearch',
    props:{
        hotSearchList:{
            type:Array,
            default:()=>[]
        }
    },
    methods:{
        cloudsearch(keywords){
            this.$emit('cloudsearch',{keywords})
        }
    }
}
</script>

<style lang="scss" scoped>
.HotSearch {
    background-color: #fff;
    color: #666;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;

    h3 {
        font-size: 14px;
        padding-bottom: 5px;
    }
    .itemModel{
        display: flex;
        flex-wrap: wrap;
        .item {
            display: flex;
            line-height: 28px;
            font-size: 12px;
            align-items: center;
            margin-right: 16px;
            span {
                padding-right: 5px;
            }
            &:nth-child(-n+3){
                font-weight: bold;
                span {
                    color: rgb(218, 62, 62);
                }
            }

            img {
                max-width: 20px;
                max-height: 20px;
                margin-left: 3px;
            }
        }
    }


}
</style>