<template>
    <div class="SongsModel">
        
        <div class="itemModel">
            <h3>单曲</h3>
            <div
                class="item"
                v-for="item in searchResult"
                :key="item.id"
            >
                <div class="picUrl">
                    <img
                        v-if="item.al.picUrl"
                        :src="item.al.picUrl"
                        alt=""
                    />
                </div>
                <div class="left">
                    <p class="title">
                        {{ item.name }}
                    </p>
                    <p class="author">
                        <span v-if="item.ar&&item.ar.length">
                            {{ item.ar[0].name }}
                        </span> 
                        <span v-if="item.al">
                            - {{ item.al.name }}
                        </span>
                    </p>
                </div>
                <i
                    class="el-icon-video-play"
                    @click="play(item)"
                ></i>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations } from "vuex";
export default {
    name:'SongsModel',
    props:{
        searchResult:{
            type:Array,
            default:()=>[]
        }
    },
    methods:{
        ...mapMutations({
            SET_AUDIOSHOW:'audio/SET_AUDIOSHOW',
            SET_AUDIOLIST:'audio/SET_AUDIOLIST'
        }),
        play(item){
            console.log(item.id)
            this.SET_AUDIOSHOW(true)
            this.SET_AUDIOLIST(item.id)
        }
    }
}
</script>

<style lang="scss" scoped>
.SongsModel {
    background-color: #fff;
    color: #666;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;

    h3 {
        font-size: 14px;
        padding-bottom: 5px;
        border-bottom:1px solid #eee;

    }
    .itemModel{
        .item {
            border-bottom:1px solid #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;

            .picUrl {
                width: 50px;
                height: 50px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .left {
                width: calc(100% - 100px);
            }
            .title {
                font-weight: 13px;
                padding-bottom: 5px;
            }
            .author{
                font-size: 12px;
                span:nth-child(1){
                    color: rgb(30, 129, 229);
                }
                span:nth-child(2){
                    color: #999;
                }
            }
        }
    }


}
</style>