<template>
    <div id="app">
        <div :class="audioShow?'viewAudio':'viewModel'">
            <router-view />
        </div>
        <AudioModel />
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import  AudioModel  from "@/components/Audio";
export default {
    name: 'App',
    components:{
        AudioModel
    },
    computed:{
        ...mapGetters(['audioShow'])
    }, 
};
</script>

<style lang="scss" scoped>
.viewModel {
    height: 100vh;
    min-height:100vh;
    overflow-y: auto;
}
.viewAudio {
    height: calc(100vh - 65px);
    min-height:calc(100vh - 65px);
    overflow-y: auto;
}
</style>
