<template>
    <div
        class="mains"
        @click="toSearchPage"
    >
        <div class="searchModel">
            <el-input
                type="text"
                v-model="keywords"
                placeholder="请输入关键词搜索"
            >
                <el-button
                    slot="append"
                    icon="el-icon-search"
                />
            </el-input>
        </div>
        <div style="height: 52px;"></div>
    </div>
</template>
<script>
export default {
    name:'AudioSearch',
    data(){
        return {
            keywords:''
        }
    },
    methods:{
        toSearchPage(){
            this.$router.push({
                path:'searchPage'
            })
        }
    }
}
</script>
<style lang="scss" scoped>
.mains {
    background-color: transparent;
    position: relative;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .1);
    .searchModel {
        padding: 10px 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        box-sizing: border-box;
        /deep/.el-input {
            width: 100%;
            height: 32px;
            overflow: hidden;
            border-radius: 20px;
            // background-image: linear-gradient(to right,rgb(231, 204, 196),rgb(234, 227, 209));
            
            .el-input__inner {
                height: 32px;
                border-radius: 20px 0 0 20px;
                // background-color: transparent;
            }
            .el-input-group__append {
                border-radius: 0 20px 20px 0;
                // background-color: transparent;
            }
        }
        i {
            font-size: 20px;
            color: #fff;
        }
    }
}

</style>